{%- macro plot(Synonyms,Latin_name,Famil,Common_name,Range)-%}
{{Synonyms}} యొక్క శాస్త్రీయ నామము {{Latin_ame}}. 
ఇది {{Famil}} కుటుంబానికి చెందినది. 
{%- if narrative_location != "NaN" -%}
దీని సాధారణ నామము {{Common_name}}. 
{%- else -%}
దీనికి సాధారణ నామమ లేదు.
{%- endif -%}
{%- if Range != "NaN" -%}
ఇది {{Range}} ప్రాంతాల్లో అక్కువగా పెరుగును.
{%- endif -%}
{%-endmacro-%}
{%- macro plot(Latin_name,Habit,Deciduous/Evergreen,Growth_rate,Height,Width)-%}
{{ '\n==వివరణ(Description)==\n' }}
{%- if Habit != "NaN" -%}
{{Latin Name}} {{Habit}} లాగ పెరిగే మొక్క.
{%- endif -%}
{%- if Deciduous/Evergreen != "NaN" -%}
 ఇవి {{Deciduous/Evergreen}} మొక్కలు.
{%- endif -%}
{%- if Growth_rate != "NaN" -%}
 ఇది {{Growth_rate}} పెరిగే మొక్క.
{%- endif -%}
 ఇది దాదాపుగా
{%- if Height != "NaN" -%}
 {{Height}} మెటర్లు పొడువు
{%- endif -%}
{%- if Width != "NaN" -%}
 మరియు {{Width}} మెటర్లు వెడల్పు 
{%- endif -%}
 వరకు పెరుగును.
{%-endmacro-%}
{%- macro taxonomy(Latin_name,Soil,Growth_rate,Moisture,Shade,Nitrogen_fixer,Poor_soil,Drought,Self_fertile,Heavy_clay)-%}
{{ '\n==వర్గీకరణ(Taxonomy)==\n' }}
{{Latin_name}}
{%- if Soil != "NaN" -%}
 {{Soil}}
{%- endif -%}
{%- if Growth_rate != "NaN" -%}
 {{Growth_rate}}గా పెరిగే మొక్క.
{%- endif -%}
{%- if Moisture != "NaN" -%}
 వీటి పెరుగుదలకు {{Moisture}} ఉన్న భూములు అనుకూలం.
{%- endif -%}
{%- if Shade != "NaN" -%}
ఇవి {{Shade}} ప్రదేశాల్లో ఎక్కువగా పెరుగుతాయి.
{%- endif -%}
{%- if Nitrogen_fixer != "NaN" -%}
 ఈ మొక్కల వేర్లు బుడిపెలలో నత్రజని స్థాపన చేసే బాక్టీరియాను కలిగి {{Nitrogen_fixer}}.
{%- endif -%}
{%- if Poor_soil != "NaN" -%}
 ఇవి నిస్సారవంతమైన భూమిలో {{Poor_soil}}.
{%- endif -%}
{%- if Drought != "NaN" -%}
 ఈ మొక్కలు నీటి ఎద్దడిని కూడా తట్టుకొని పెరగ{{Drought}}.
{%- endif -%}
{%- if Self_fertile != "NaN" -%}
 ఇవి స్వసంపర్యము జరుపు{{Self_fertile}} మొక్కలు.
{%- endif -%}
{%- if Heavy_clay != "NaN" -%}
 ఈ మొక్కలు బురుద నెలల్లో {{Heavy_clay}}.
{%- endif -%}
{%-endmacro-%}
{%- macro pollinators(Pollinators)-%}
{{ '\n==పరాగ సంపర్కాలు(Pollinators)==\n' }}
{%- if Pollinators != "NaN" -%}
ఈ మొక్కల సంతతి వృద్ధిచందడానికి వీటియొక్క విత్తనాలు, పుప్పొడి {{pollinators}} ద్వారా వ్యాప్తి చెందుతాయి.
{%- else -%}
ఈ మొక్కల సంతతిచెందే విధానము తెలియదు.
{%- endif -%}
{%-endmacro-%}
{%- macro known_hazards(Known_hazards)-%}
{{ '\n==ప్రమాద/ విషస్వభావాలు(Known hazards)==\n' }}
{%- if Known_hazards != "ఏదీ తెలియదు" -%}
{{Known_hazards}}
{%- else -%}
ఇప్పట్టి వరకు ఈ మొక్క ప్రమాద/ విషస్వభావాలు తెలియవు.
{%- endif -%}
{%-endmacro-%}
{%- macro Cultivation_details(Cultivation_details)-%}
{{ '\n==పెరుగుదలకు అనుకూల అంశాలు(Cultivation Details)==\n' }}
{%- if Cultivation_details != "ఏదీ తెలియదు" -%}
{{Cultivation_details}}
{%- else -%}
ఇప్పట్టి వరకు ఈ మొక్క బాగపెరగడానికి కావాల్సిన అంశాలు తెలియవు. 
{%- endif -%}
{%-endmacro-%}
{%- macro Edible_uses(Edible_uses)-%}
{{ '\n==ఆహారయోగ్యమైన ఉపయోగాలు(Edible_uses)==\n' }}
{%- if Edible_uses != "ఏదీ తెలియదు" -%}
{{Edible_uses}}
{%- else -%}
ఈ మొక్కల ఆహారయోగ్యమైన ఉపయోగాలు ఆహారయోగ్యమైన ఉపయోగాలు తెలియవు.  
{%- endif -%}
{%-endmacro-%}
{%- macro Uses_notes(Uses_notes)-%}
{{ '\n==ఉపయోగాలు(Uses_notes)==\n' }}
{%- if Uses_notes != "ఏదీ తెలియదు" -%}
{{Uses_notes}}
{%- else -%}
ఈ మొక్కల ఉపయోగాలు తెలియవు.  
{%- endif -%}
{%-endmacro-%}
{%- macro Propagation(Propagation)-%}
{{ '\n==ప్రచారణ(Propagation)==\n' }}
{%- if Propagation != "ఏదీ తెలియదు" -%}
{{Propagation}}
{%- endif -%}
{%-endmacro-%}
{%- macro Edibility_rating(Edibility_rating)-%}
{{ '\n==తినదగిన రేటింగ్(Edibility Rating)[0-5]==\n' }}
{%- if Edibility_rating != "ఏదీ తెలియదు" -%}
ఈ మొక్క తినదగిన రేటింగ్ {{Edibility_rating}}/5.
{%- endif -%}
{%-endmacro-%}
{%- macro Medicinal_rating(Medicinal_rating)-%}
{{ '\n==తినదగిన రేటింగ్(Edibility Rating)[0-5]==\n' }}
{%- if Medicinal_rating != "ఏదీ తెలియదు" -%}
ఈ మొక్క తినదగిన రేటింగ్ {{Medicinal_rating}}/5.
{%- endif -%}
{%-endmacro-%}
{%- macro Scented(Scented)-%}
{{ '\n==సువాసన(Scented)==\n' }}
{%- if Scented != "సుగందమైన" -%}
ఇది {{Scented}} మొక్క. ఈ మొక్కలు సువాసనగా ఉంటాయి కాబట్టి సెంట్లలో వాడవచ్చు.
{%- else -%}
ఇది సువాసనమైన మొక్క కాదు.
{%- endif -%}
{%- macro Frost_Tender(Frost_Tender)-%}
{{ '\n==Frost_Tender==\n' }}
{%- if Frost_Tender != "NaN" -%}
 {%- if Frost_Tender == "వై" -%}
 ఈ మొక్కలు ఎక్కువ చలి తట్టుకోలేవు కాబట్టి చలికాలంలో బ్రతకాలేవు. 
 {%- else -%}
 ఈ మొక్కలు ఎక్కువ చాలిని తట్టుకోగలవు కాబట్టి చలికాలంలో కూడా చనిపోవు.
 {%- endif -%}
{%- else -%}
ఈ మొక్కలు చలి తట్టుకోగలవ్వలేవో తెలిదు.
{%- endif -%}
{%-endmacro-%}
